/* COLORES: 
      lila : #c9c0ce
      fondo header: #291236 
      header hover: #49265e

      main transparent background: #9172a377
      form backgound: #9172a391
      inicio backgr. img: #4a265ec0



      NEW: 
        lila y fondoheader igual
        hover: 3D1A4F

        prod inicio backgr: 3d1a4fb9(transparente de hover)
        otros background: #9c72bd69


        NEW NEW: 
        cambié el header a #4a0b6e
        y el hover a #5b1f7e
        y ajusté los colores del faq 
        
        #4a0b6e #5b1f7e 

*/


/* estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, form * {
   font-family: 'BioRhyme', sans-serif;
   color: black;
}
a,  .nav-lila, .nav-lila:hover {
  text-decoration: none;
  color: #c9c0ce;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}




/* en comun header y footer */
.colores-header-footer {
  color: #c9c0ce;
  background-color: #4a0b6e;
}




/* header */
h1{
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  padding-top: 1rem;
}

header .logo {
  display: flex;
  justify-content: center;
  height: 100px;
}
header .logo * {
  height: 100%;
}

header nav ul button {
  width: 100%;
  background-color: transparent;
  border: none;
  color: inherit;
} 
header nav ul a {
  padding: 1rem 0rem;
}
header nav ul {
  display: flex;
  justify-content: space-evenly;
  border-top: solid #5b1f7e 2px;
}
header nav ul li {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 1rem 0rem;
}
header nav ul li:hover {
  background-color: #5b1f7e;
  text-shadow: 0px 0px 5px #9172a3;
}
.nav-small {
  display: none;
}




/* footer */ 
footer img {
  border-radius: 15px;
}
footer a {
  text-decoration: underline;
}
footer hr {
  margin: 0;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(2, auto) 1fr auto;
  padding: 0.8rem;
  gap: 5.5vw;
}
.footer-redes {
  grid-column-start: 4;
  align-self: center;
  display: flex;
  gap: 10px;
  padding-right: 1.3vw;
  padding-bottom: 0.9vh;
} 

.footer-copyright {
  padding: 0.3rem;
  font-size: 0.7em;
}




/* main general */
main {
  background-color: #3D1A4F;
  background-image: url(../assets/fondo-index.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
  text-shadow: 0.1px 0.1px 5px #c9c0ce;
}
h1 {
  text-align: center;
  font-weight: 700;
  padding-top: 1.5vw;
  padding-bottom: 0.8vw;
  text-shadow: 1px 1px 3px #5b1f7e;
}
h2 {
  font-size: 1.4rem;
}
h4 {
  text-decoration: underline;
  font-size: 20px;
  margin-top: 1em;
}
.link {
  text-decoration: underline;
  text-shadow: 0px 0px 5px #4a0b6e;
}

.compras, .faq, .nosotros, .productos {
  padding: 1.2vw 4vw;
  background-color: #9c72bd69;
  backdrop-filter: blur(1.8px);
  -webkit-backdrop-filter: blur(1.8px);
}
main img:not(.separador), footer img {
  box-shadow: 10px 10px 12px -2px #000000a6;
  -webkit-box-shadow: 10px 10px 12px -2px #000000a6;
  -moz-box-shadow: 10px 10px 12px -2px #000000a6;
}
main img {
  border-radius: 5px;
}
main .separador {
  width: 40vw;
  padding-top: 4vh;
  padding-bottom: 1vh;
}
iframe {
  border-radius: 5px;
}

.form {
  max-width: 400px;
  padding: 3%;

  background: #9c72bd69;
  box-shadow: 0 8px 32px 0 #1f26875e;
  backdrop-filter: blur( 9px );
  -webkit-backdrop-filter: blur( 9px );
  border-radius: 5px 25px;
  border: 1px solid #ffffff2e;
}
.form form div {
  display: flex;
  flex-direction: column;
  width: 97%;
}
.form form div label {
  margin: 0px 5px;
}
.form form div *:not(label) {
  padding: 5px;
  margin: 5px 5px;
  border-radius: 7.5px;
  background-color: #c9c0ce;
}
.form form div *:not(label):focus {
  outline: #5b1f7e solid 2px;
  box-shadow: 0 0 10px #5b1f7e ;
}
textarea {
  height: 100px;
}

.botones-carousel [data-bs-target] {
	background-color: #4a0b6e;
  border: solid #c9c0ceaf 2.5px;
  margin-bottom: 6px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.carousel-anterior > :first-child {
	background-image: url(../assets/iconos/arrow-left.svg);
}
.carousel-siguiente > :first-child {
	background-image: url(../assets/iconos/arrow-right.svg);
}

.fondo-oscuro {
  background-color: #3d1a4fb9;
  color: #c9c0ce;
  text-shadow: none;
  border-radius: 5px;
}




/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */




/* main inicio */
.inicio-intro {
  padding: 8vw 15vw;
  text-align: center;
}
.inicio-intro p{
  font-size:1.7rem;
  text-shadow: 2px 2px 7px #c9c0ce;
}
.inicio-productos {
  display: flex;
  flex-direction: column;
  padding: 20px;

  background: #9c72bd69;
  box-shadow: 0 8px 32px 0 #1f26875e;
  border: 1px solid #ffffff2e;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 20px;
}
.inicio-productos > div {
  padding: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 15px;
}
.inicio-productos div img {
  height: 20vw;
  margin: 15px 0.5%;
}
#carousel-inicio-sm {
  display: none;
}
/* carousel */
.row {
  gap: 2%;
  justify-content: center;
  padding: 0 10%;
}
.row img {
  height: 20vw;
  width: 30%;
  object-fit: cover;
  padding: 0;
}
.inicio-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inicio-reviews > div {
  padding: 0;
  margin: 0 2% 50px 2%;
}
.inicio-reviews > div > div {
  padding-top: 2%;
}
.inicio-reviews > div > div > div {
  background: #9c72bd69;
  box-shadow: 0 8px 32px 0 #1f26875e;
  backdrop-filter: blur( 9px );
  -webkit-backdrop-filter: blur( 9px );
  border-radius: 5px;
  border: 1px solid #ffffff2e;
}
.inicio-reviews .card-header {
  height: 65px;
}




/* main compras */
.compras {
  display: flex;
  flex-direction: column;
}
.compras-texto {
  padding: 0 4vw;
  font-size: 1.3em;
  text-align: center;
}
.compras-columnas img {
  border-radius: 60px;
  max-width: 440px;
  object-fit: cover;
  height: 100%;
} 
.compras-columnas {
  padding: 3% 0;
  display: grid;
  grid-template-columns: repeat(2, 49%);
  gap: 2%;
  align-items: center;
  justify-items: center;
}
.compras-columnas * {
  width: 100%;
}

.input-imagenes {
  font-size: 0.8em;
}
.input-imagenes::file-selector-button {
	background-color: #bea1ce;
  font-size: initial;
}




/* main FAQ */
.faq {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
details:not(:first-child) {
  border-top: solid 1px #693c80;
}
.faq div :first-child summary {
  border-radius: 10px 10px 0px 0px;
}
.faq div :last-child summary {
  border-radius: 0px 0px 10px 10px;
}
.faq div :last-child[open] summary {
  border-radius: 0px;
}
details summary {
  padding: 15px 2.5vw;
  background-color: #5b1f7e;
  box-shadow: 3px 3px 4px #00000080;
  cursor: pointer;
  color: #c9c0ce;
  text-shadow: 0px 0px 5px #9172a34f;
}
details p {
  padding: 0.3vw 1.5vw;
  margin: 0;
  text-shadow: none;
}
details div {
  border-radius: 0 0 10px 10px;
  background-color: #9172a3;
  padding: 0.5vw 0;
  margin-bottom: 4px;
  box-shadow: 3px 3px 4px #00000080;
}

details[open] summary {
  background-color: #4a0b6e;
}




/* main nosotros */
.nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5vw;
}
.nosotros h1 {
  padding-bottom: 2vw;
}
.nosotros section > div {
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
  column-gap: 4vw;
}
.conocenos div {
  margin: 2.5vw 0 1.5vw 4vw;
}
.conocenos img {
  object-fit: cover;
}
.contacto-mapa {
  grid-row: 2;
  padding-top: 2vw;
}
.contacto-form {
  grid-row: span 2;
}




/* main de productos */
.productos div {
  padding: 10px;
}
.productos h2 {
  text-align: center;
  font-size: 2.5rem;
  align-self: center;
}

.productos-cards > div {
  margin: 0 5vw 30px 5vw;
  display: grid;
  grid-template-columns: repeat(2, 48%);
  grid-template-rows: 30% auto;
  column-gap: 4%;

  background: #9c72bd69;
  box-shadow: 0 8px 32px 0 #1f26875e;
  backdrop-filter: blur( 9px );
  -webkit-backdrop-filter: blur( 9px );
  border-radius: 5px;
  border: 1px solid #ffffff2e;
}
.productos-cards > div:nth-of-type(odd) > div:last-child {
  grid-area: 1 / 2 / span 2;
  align-self: center;
}
.productos-cards > div:nth-of-type(even) > div:last-child {
  grid-area: 1 / 1 / span 2;
  align-self: center;
}
.productos-cards p {
  margin: 0;
}

.productos .carousel-main img {
  cursor: zoom-in;
}
.modal-body {
  padding: 0;
}
.modals button {
  position: absolute;
  right: 1.5%;
  top: 2%;
  background-image: url(../assets/iconos/compress.svg);
  transform: scale(2.5);
}
.modals button:focus {
  box-shadow: none;
}




/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */




@media screen and (max-width: 1024px){
  /* header */
  .nav-large {
    display: none;
  }
  .nav-small {
    display: block;
    padding: 0.8vw 1.5vw;
  }
  .img-logo-movil {
    display: none;
  }

  .hamburger-button {
    border: 2px solid #c9c0ce91;
    margin-right: 0.3vw;
  }
  .hamburger-button:focus {
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.438);
  }
  .hamburger-icon {
    background-image: url(../assets/iconos/hamburger-icon.svg);
    background-size: 150%;
  }

  /* main nosotros */
  .nosotros section > div {
    column-gap: 3vw;
  }
  .contacto {
    grid-template-columns: 1fr;
  }
  .contacto * {
    width: 100%;
  }
}

@media screen and (max-width: 768px){
  main .separador {
    max-width: 400px;
    width: 80vw;
  }

  /* header */
  .img-logo-movil {
    display: block;
  }
  .img-logo-tablet {
    display: none;
  }

  /* footer */
   .footer-grid {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    gap: 20px;
  }
  .footer-redes {
    width: 100%;
    justify-content: center;
  }

  /* main inicio */
  .inicio-intro {
    padding: 9vw;
  }
  .inicio-intro p {
    font-size: calc(1.3rem + .6vw);
  }
  #carousel-inicio-lg {
    display: none;
  }
  #carousel-inicio-sm {
    display: initial;
  }
  #carousel-inicio-sm img {
    height: 50vw;
    width: 80%;
    margin: 6% 10%;
    object-fit: cover;
  }
  .inicio-reviews .card-header {
    height: auto;
  }

  /* main compras */
  .compras-texto {
    font-size: 1.1em;
  }
  .compras-columnas {
    display: grid;
    grid-template-columns: 100%;
    gap: 30px;
  }
  .compras-columnas > * {
    max-width: 90%;
  }
  .compras-columnas img {
    grid-row: 1;
    max-width: 90%;
    height: 60vw;
    border-radius: 50px;
  } 
  
  /* main nosotros */
  .nosotros section > div {
    grid-template-columns: 1fr;
  }
  .conocenos div {
    margin: 4vw 5.5vw 0 5.5vw;
  }
  .contacto > div {
    padding-bottom: 10px;
  }

  /* main productos */
  .productos-cards > div {
    margin: 0 0 30px 0;
    grid-template-columns: 1fr;
  }
  .productos-cards > div:nth-of-type(odd) > div:last-child {
    grid-area: 3 / 1 / span 1;
  }
  .productos-cards > div:nth-of-type(even) > div:last-child {
    grid-area: 3 / 1 / span 1;
  }
}

@media screen and (max-width: 436px) {
  .footer-grid > :nth-child(2) {
    margin-right: 25px;
  }
  
}
