.productos, .nosotros, .faq, .compras {
  padding: 1.2vw 4vw;
  background-color: rgba(156, 114, 189, 0.4117647059);
  backdrop-filter: blur(1.8px);
  -webkit-backdrop-filter: blur(1.8px);
}

body main img {
  border-radius: 5px;
  box-shadow: 10px 10px 12px -2px rgba(0, 0, 0, 0.6509803922);
  -webkit-box-shadow: 10px 10px 12px -2px rgba(0, 0, 0, 0.6509803922);
  -moz-box-shadow: 10px 10px 12px -2px rgba(0, 0, 0, 0.6509803922);
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* estilos generales */
body {
  font-family: "BioRhyme", sans-serif;
  color: black;
}
body a {
  color: #c9c0ce;
}
body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body main {
  background-color: #5b1f7e;
  background-image: url(../assets/fondo-index.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-shadow: 0.1px 0.1px 5px #c9c0ce;
}
body main h1 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
  padding-top: 1.5vw;
  padding-bottom: 0.8vw;
  text-shadow: 1px 1px 3px #5b1f7e;
}
body main h2 {
  font-size: 1.4rem;
}
body main iframe {
  border-radius: 5px;
}
body main .link {
  text-shadow: 0px 0px 5px #4a0b6e;
}
body main .separador {
  width: 40vw;
  padding-top: 4vh;
  padding-bottom: 1vh;
  box-shadow: none;
}

/* formularios */
.form {
  max-width: 400px;
  padding: 3%;
  border-radius: 5px 25px;
  background: rgba(156, 114, 189, 0.4117647059);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.368627451);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.368627451);
  -moz-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.368627451);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(255, 255, 255, 0.1803921569);
}
.form form div {
  display: flex;
  flex-direction: column;
  width: 97%;
}
.form form div label {
  margin: 0px 5px;
}
.form form div *:not(label) {
  padding: 5px;
  margin: 5px 5px;
  border-radius: 7.5px;
  background-color: #c9c0ce;
}
.form form div *:not(label):not(label):focus {
  outline: #5b1f7e solid 2px;
  box-shadow: 0 0 10px #5b1f7e;
}
.form form div textarea {
  height: 100px;
}
.form form div .input-imagenes {
  font-size: 0.8em;
}
.form form div .input-imagenes::file-selector-button {
  background-color: #a98ac1;
  font-size: initial;
}

/* carousel */
.carousel .botones-carousel [data-bs-target] {
  background-color: #4a0b6e;
  border: solid rgba(201, 192, 206, 0.6862745098) 2.5px;
  margin-bottom: 6px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.carousel .carousel-anterior > :first-child {
  background-image: url(../assets/iconos/arrow-left.svg);
}
.carousel .carousel-siguiente > :first-child {
  background-image: url(../assets/iconos/arrow-right.svg);
}

/* header */
header {
  color: #c9c0ce;
  background-color: #4a0b6e;
}
header nav section div .logo {
  display: flex;
  justify-content: center;
  height: 100px;
}
header nav section div .logo * {
  height: 100%;
}
header nav section div div ul {
  display: flex;
  justify-content: space-evenly;
  border-top: solid #5b1f7e 2px;
}
header nav section div div ul li {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 1rem 0rem;
}
header nav section div div ul li:hover {
  background-color: #5b1f7e;
  text-shadow: 0px 0px 5px #9172a3;
}
header nav section div div ul li a {
  padding: 1rem 0rem;
  text-decoration: none;
}
header nav section div div ul li a button {
  width: 100%;
  background-color: transparent;
  border: none;
  color: inherit;
}
header nav .nav-small {
  display: none;
}

/* main inicio */
.inicio-intro {
  padding: 8vw 15vw;
  text-align: center;
}
.inicio-intro p {
  font-size: 1.7rem;
  text-shadow: 2px 2px 7px #c9c0ce;
}

.inicio-productos {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: rgba(156, 114, 189, 0.4117647059);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.368627451);
  border: 1px solid rgba(255, 255, 255, 0.1803921569);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 20px;
  /* carousel */
}
.inicio-productos #carousel-inicio-sm {
  display: none;
}
.inicio-productos .carousel {
  background-color: rgba(61, 26, 79, 0.7254901961);
  color: #c9c0ce;
  text-shadow: none;
  border-radius: 5px;
  padding: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 15px;
}
.inicio-productos .carousel .carousel-inner .carousel-item .row {
  gap: 2%;
  justify-content: center;
  padding: 0 10%;
}
.inicio-productos .carousel .carousel-inner .carousel-item .row img {
  margin: 15px 0.5%;
  height: 20vw;
  width: 30%;
  object-fit: cover;
  padding: 0;
}

.inicio-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inicio-reviews .row {
  justify-content: center;
  padding: 0;
  margin: 0 2% 4vw 2%;
}
.inicio-reviews .row .card-size {
  padding-top: 2%;
}
.inicio-reviews .row .card-size .card {
  background: rgba(156, 114, 189, 0.4117647059);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.368627451);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1803921569);
  --bs-card-title-spacer-y: 0;
}
.inicio-reviews .row .card-size .card .card-header {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* main compras */
.compras {
  display: flex;
  flex-direction: column;
}
.compras div .compras-texto {
  padding: 0 4vw;
  font-size: 1.3em;
  text-align: center;
}
.compras .compras-columnas {
  padding: 3% 0;
  display: grid;
  grid-template-columns: repeat(2, 49%);
  gap: 2%;
  align-items: center;
  justify-items: center;
}
.compras .compras-columnas img {
  width: 100%;
  border-radius: 60px;
  max-width: 440px;
  object-fit: cover;
}
.compras .compras-columnas .form form div input {
  width: 100%;
}
.compras .compras-columnas .form form div textarea {
  width: 100%;
}
.compras .compras-columnas .form form div select {
  width: 100%;
}

/* main FAQ */
.faq {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
.faq div details:not(:first-child) {
  border-top: solid 1px #693c80;
}
.faq div :first-child summary {
  border-radius: 10px 10px 0px 0px;
}
.faq div :last-child summary {
  border-radius: 0px 0px 10px 10px;
}
.faq div :last-child[open] summary {
  border-radius: 0px;
}
.faq div details summary {
  padding: 15px 2.5vw;
  background-color: #4a0b6e;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5019607843);
  cursor: pointer;
  color: #c9c0ce;
  text-shadow: 0px 0px 5px rgba(145, 114, 163, 0.3098039216);
}
.faq div details[open] summary {
  background-color: #5b1f7e;
}
.faq div details div {
  border-radius: 0 0 10px 10px;
  background-color: #a98ac1;
  padding: 0.5vw 0;
  margin-bottom: 4px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5019607843);
}
.faq div details div p {
  padding: 0.3vw 1.5vw;
  margin: 0;
  text-shadow: none;
}

/* main nosotros */
.nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5vw;
}
.nosotros section h1 {
  padding-bottom: 2vw;
}
.nosotros section .conocenos {
  background-color: rgba(61, 26, 79, 0.7254901961);
  color: #c9c0ce;
  text-shadow: none;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
  column-gap: 4vw;
}
.nosotros section .conocenos div {
  margin: 2.5vw 0 1.5vw 4vw;
}
.nosotros section .conocenos img {
  object-fit: cover;
}
.nosotros section .contacto {
  display: grid;
  grid-template-columns: 50fr 50fr;
  align-items: center;
  column-gap: 8vw;
}
.nosotros section .contacto * {
  max-width: 100%;
}
.nosotros section .contacto .contacto-mapa {
  grid-row: 2;
  padding-top: 2vw;
}
.nosotros section .contacto .contacto-form {
  grid-row: span 2;
}

/* main productos */
.productos div {
  padding: 10px;
}
.productos .productos-cards .productos-card {
  margin: 0 5vw 30px 5vw;
  display: grid;
  grid-template-columns: repeat(2, 48%);
  column-gap: 4%;
  border-radius: 5px;
  background: rgba(156, 114, 189, 0.4117647059);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.368627451);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.368627451);
  -moz-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.368627451);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(255, 255, 255, 0.1803921569);
}
.productos .productos-cards .productos-card h2 {
  text-align: center;
  font-size: 2.5rem;
  align-self: center;
}
.productos .productos-cards .productos-card:nth-of-type(odd) div:last-child {
  grid-area: 1/2/span 2;
  align-self: center;
}
.productos .productos-cards .productos-card:nth-of-type(even) div:last-child {
  grid-area: 1/1/span 2;
  align-self: center;
}
.productos .productos-cards .productos-card div h3 {
  text-decoration: underline;
  font-size: 20px;
  margin-top: 0.5em;
}
.productos .productos-cards .productos-card div p {
  margin: 0;
}
.productos .productos-cards .productos-card div .carousel .carousel-main .carousel-item img {
  cursor: zoom-in;
}

.modal-body {
  padding: 0;
}
.modal-body button {
  position: absolute;
  right: 1.5%;
  top: 2%;
  background-image: url(../assets/iconos/compress.svg);
  transform: scale(2.5);
}
.modal-body button:focus {
  box-shadow: none;
}

/* footer */
footer {
  color: #c9c0ce;
  background-color: #4a0b6e;
}
footer .footer-grid {
  display: grid;
  grid-template-columns: repeat(2, auto) 1fr auto;
  padding: 0.8rem;
  gap: 5.5vw;
}
footer .footer-grid .footer-redes {
  grid-column-start: 4;
  align-self: center;
  display: flex;
  gap: 10px;
  padding-right: 1.3vw;
  padding-bottom: 0.9vh;
}
footer .footer-grid .footer-redes div a img {
  border-radius: 15px;
}
footer hr {
  margin: 0;
}
footer .footer-copyright {
  padding: 0.3rem;
  font-size: 0.7em;
}

/* media queries */
/* tablet */
@media screen and (max-width: 1024px) {
  /* header */
  header nav .nav-large {
    display: none;
  }
  header nav .nav-small {
    display: block;
    padding: 0.8vw 1.5vw;
  }
  header nav .nav-small div .logo a .img-logo-movil {
    display: none;
  }
  header nav .nav-small div .hamburger-button {
    border: 2px solid rgba(201, 192, 206, 0.568627451);
    margin-right: 0.3vw;
  }
  header nav .nav-small div .hamburger-button:focus {
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.438);
  }
  header nav .nav-small div .hamburger-button .hamburger-icon {
    background-image: url(../assets/iconos/hamburger-icon.svg);
    background-size: 150%;
  }
  /* main nosotros */
  .nosotros section .conocenos {
    column-gap: 3vw;
  }
  .nosotros section .contacto {
    column-gap: 3vw;
  }
}
/* movil */
@media screen and (max-width: 768px) {
  /* header */
  header nav .nav-small div .logo a .img-logo-movil {
    display: block;
  }
  header nav .nav-small div .logo a .img-logo-tablet {
    display: none;
  }
  /* footer */
  footer .footer-grid {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    gap: 20px;
  }
  footer .footer-grid .footer-redes {
    width: 100%;
    justify-content: center;
  }
  /* main inicio */
  .inicio-intro {
    padding: 9vw;
  }
  .inicio-intro p {
    font-size: calc(1.3rem + 0.6vw);
  }
  .inicio-productos #carousel-inicio-lg {
    display: none;
  }
  .inicio-productos #carousel-inicio-sm {
    display: initial;
  }
  .inicio-productos #carousel-inicio-sm .carousel-main .carousel-item img {
    height: 50vw;
    width: 80%;
    margin: 6% 10%;
    object-fit: cover;
  }
  /* main compras */
  .compras div .compras-texto {
    font-size: 1.1em;
  }
  .compras .compras-columnas {
    display: grid;
    grid-template-columns: 100%;
    gap: 30px;
  }
  .compras .compras-columnas img {
    grid-row: 1;
    max-width: 80%;
    height: 60vw;
    border-radius: 50px;
  }
  .compras .compras-columnas .form {
    max-width: 100%;
  }
  /* main nosotros */
  .nosotros section {
    max-width: 100%;
  }
  .nosotros section .conocenos {
    grid-template-columns: 1fr;
  }
  .nosotros section .conocenos div {
    margin: 4vw 5.5vw 0 5.5vw;
  }
  .nosotros section .contacto {
    grid-template-columns: 100%;
  }
  .nosotros section .contacto div {
    padding-bottom: 10px;
  }
  /* main productos */
  .productos .productos-cards .productos-card {
    margin: 0 0 30px 0;
    grid-template-columns: 1fr;
  }
  .productos .productos-cards .productos-card:nth-of-type(odd) div:last-child {
    grid-area: 3/1/span 1;
  }
  .productos .productos-cards .productos-card:nth-of-type(even) div:last-child {
    grid-area: 3/1/span 1;
  }
}
@media screen and (max-width: 436px) {
  /* footer */
  footer .footer-grid .footer-nav {
    margin-right: 25px;
  }
  /* main compras */
  .compras .compras-columnas img {
    max-width: 90%;
  }
}

/*# sourceMappingURL=style-scss.css.map */
