/* main FAQ */
.faq {
    @extend %fondo;
    @include flex (columna, n/a);
    gap: 2vw;
    div {
        details:not(:first-child) {
            border-top: solid 1px $violeta-claro;
        }
        :first-child {
            summary {
                border-radius: $faq-accord-radius $faq-accord-radius 0px 0px;
            }
        }
        :last-child {
            summary {
                border-radius: 0px 0px $faq-accord-radius $faq-accord-radius;
            }
            &[open] {
                summary {
                    border-radius: 0px;
                }
            }
        }
        details {
            summary {
                padding: 15px 2.5vw;
                background-color: $violeta;
                color: $blanco;
                @include box-shadow($faq-accord-shadow);
                cursor: pointer;
                text-shadow: none;
            }
            &[open] {
                summary {
                    background-color: $violeta-claro;
                }
            }
            div {
                border-radius: 0 0 $faq-accord-radius $faq-accord-radius;
                background-color: $lila;
                padding: 0.5vw 0;
                margin-bottom: 4px;
                @include box-shadow($faq-accord-shadow);
                p {
                    padding: 0.3vw 1.5vw;
                    margin: 0;
                    text-shadow: none;
                }
            }
        }
    }
}
  