// hecho (tentativo)



/* main compras */
.compras {
    @extend %fondo;
    @include flex (columna, n/a);
    div {
        .compras-texto {
            padding: 0 4vw;
            font-size: 1.3em;
            text-align: center;
        }
    }
    .compras-columnas {
        padding: 3% 0;
        @include grid-center (repeat(2, 49%), 2%);
        justify-items: center;
        img {
            width: 100%;
            // height: 100%;
            border-radius: 60px;
            max-width: 440px;
            object-fit: cover;
        }
        .form {
            // width: 80%;
            form {
                div {
                    input, textarea, select {
                        width: 100%;
                    }
                }
            }
        }
    }
}
