/* main inicio */ 
.inicio-intro {
    padding: 6vw 25vw;
    text-align: center;
    h1 {
        padding-bottom: 30px;
    }
    p {
        font-size:1.7rem;
        text-shadow: 2px 2px 7px $blanco;
    }
}
.inicio-productos {
    @include flex (columna, n/a);
    padding: 20px;
    @include glassmorphism(20px, 1px);
    h2 {
        @include titulo-componente;
    }
    #carousel-inicio-sm {
        display: none;
    }
    /* carousel */
    .carousel {
        @include fondo-oscuro;
        padding: 10px 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        border-radius: 15px;
        .carousel-inner {
            .carousel-item {
                .row {
                    gap: 2%;
                    justify-content: center;
                    padding: 0 10%;
                    img {
                        margin: 15px 0.5%;
                        height: 20vw;
                        width: 30%;
                        object-fit: cover;
                        padding: 0;
                    }
                }
            }
        }
    }
}
.inicio-reviews {
    @include flex (columna, center);
    .row {
        justify-content: center;
        padding: 0;
        margin: 0 2% 4vw 2%;
        .card-size {
            padding-top: 2%; 
            .card {
                color: $negro;
                @include glassmorphism(5px, 9px);
                --bs-card-title-spacer-y: 0;
                .card-header {
                    height: 65px;
                    @include flex(n/a, center);
                }
            }
        }
    }
}
