// en comun header y footer 
@mixin colores-header-footer {
    color: $blanco;
    background-color: $violeta;
}

//titulos
@mixin titulo ($size) {
    font-size: $size;
    text-align: center;
    font-weight: 700;
    padding-top: 1.5vw;
    padding-bottom: 0.8vw;
    text-shadow: 1px 1px 3px $violeta-claro;
}
@mixin titulo-componente {
    font-size: 1.4rem;
}

@mixin img {
    border-radius: $radius;
    @include box-shadow(10px 10px 12px -2px #000000a6);
}
//simplificación de box-shadow
@mixin box-shadow($valor) { 
    box-shadow: $valor;
    -webkit-box-shadow: $valor;
    -moz-box-shadow: $valor;
}
@mixin fondo-oscuro {
    background-color: transparentize($violeta, 0.2); // color viejo: #3d1a4fb9;
    color: $blanco;
    text-shadow: none;
    border-radius: $radius;
}
@mixin glassmorphism ($border-radius, $blur) {
    background: transparentize($lila, 0.6);
    @include box-shadow(0 8px 32px 0 #1f26875e);
    backdrop-filter: blur( $blur );
    -webkit-backdrop-filter: blur( $blur );
    border-radius: $border-radius;
    border: 1px solid #ffffff2e;
}

//layout
@mixin flex ($direccion, $center) {
    display: flex;
    @if $direccion == columna {
        flex-direction: column;
    } @else if $direccion == fila {
        flex-direction: row;
    }
    @if $center == center {
        justify-content: center;
        align-items: center;
    }
}
@mixin grid-center ($columns, $gap) {
    display: grid;
    grid-template-columns: $columns;
    align-items: center;
    gap: $gap;
}
