//colores
$negro: black;
$blanco: #c9c0ce;
$violeta: #4a0b6e;
$violeta-claro: #5b1f7e;
$lila: #a98ac1;

//border-radius basico para todo el sitio
$radius: 5px; 
//estilos del acordión en preguntas frequentes
$faq-accord-radius: 10px;
$faq-accord-shadow: 3px 3px 4px #00000080;

$glass-blur: 9px;
