/* carousel */
.carousel {
    //los botones redondos de abajo para cambiar de imagen
    .botones-carousel [data-bs-target] {
        background-color: $violeta;
        border: solid 2.5px transparentize($color: $blanco, $amount: 0.3); 
        margin-bottom: 6px;
        width: 10px;
        height: 10px;
        border-radius: 100%;
    }
    //las flechas de izq y der
    .carousel-anterior > :first-child {
        background-image: url(../assets/iconos/arrow-left.svg);
    }
    .carousel-siguiente > :first-child {
        background-image: url(../assets/iconos/arrow-right.svg);
    }
}

