// hecho (tentativo)


/* footer */
footer {
    @include colores-header-footer;
    .footer-grid {
        padding: 0.8rem;
        @include grid-center(repeat(2, auto) 1fr auto, 5.5vw);
        .footer-redes {
            grid-column-start: 4;
            display: flex;
            gap: 10px;
            padding-right: 1.3vw;
            padding-bottom: 0.9vh;
            div {
                a {
                    img {
                        @extend %img;
                        border-radius: 15px;
                    }
                }
            }
        }
    }
    hr {
        margin: 0;
    }
    .footer-copyright {
        padding: 0.3rem;
        font-size: 0.7em;
    }
}
