// hecho (tentativo)(limpiar)



/* formularios */
.form {
    max-width: 400px;
    padding: 3%;
    @include glassmorphism($radius 25px, $glass-blur);
    form div {
        @include flex (columna, n/a);
        width: 97%;
        label {
            margin: 0px 5px;
        }
        *:not(label) {
            padding: 5px;
            margin: 5px 5px;
            border-radius: 7.5px;
            background-color: $blanco;
            &:not(label):focus {
                outline: $violeta-claro solid 2px;
                @include box-shadow(0, 0, 10px, 0, $violeta-claro);
            }
        }
        textarea {
            height: 100px;
        }
        .input-imagenes {
            font-size: 0.8em; 
            &::file-selector-button {
                background-color: $lila;//#bea1ce;
                font-size: initial;
            }
        }
    }
}
