/* header */
header {
    @include colores-header-footer;
    nav {
        section {
            div {
                .logo {
                    @include flex (n/a, center);
                    height: 100px;
                    a {
                        height: 100%;
                        img {
                            height: 100%;
                        }
                    }
                }
                div {
                    ul {
                        display: flex;
                        justify-content: space-evenly;
                        border-top: solid $violeta-claro 2px;
                        li {
                            width: 100%;
                            text-align: center;
                            padding: 1rem 0rem;
                            &:hover {
                                background-color: $violeta-claro;
                            }
                            a {
                                padding: 1rem 0rem;
                                text-decoration: none;
                                button {    
                                    width: 100%;
                                    background-color: transparent;
                                    border: none;
                                    color: inherit;
                                }
                            }
                        }
                    }
                }
            }
        }
        .nav-small {
            display: none;
        }
    }
}
